<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>HOla</h1>
    <ul>
        <% ArrWorkers.forEach(worker => { %>
            <li>
                <p>Nombre: <%= worker.contact_name %></p>
                <p>Certificación: <%= worker.certification_name %></p>
                <p>Fecha de Certificación: <%= worker.certification_date %></p>
                <p>Fecha de Expiración: <%= worker.expiration_date %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>